<h2>New Product</h2>
<div style="width:75%; margin: 0 auto;">
  <%= form_for @product, :html => {:multipart => true} do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class =>"form-control"  %>
    </div>

    <div class="row">

      <div class="form-group  col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, :class =>"form-control" %>
      </div>

      <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
        <%= f.label :price %>
        <%= f.number_field :price, :class =>"form-control", :step => 'any'  %>
      </div>

      <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
        <%= f.label :category_id %>
        <%= f.select :category_id, @categories.collect {|category| [category.name, category.id ]} , :class =>"form-control", :step => 'any'  %>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-3 ">
        <%= f.label :height %>
        <%= f.number_field :height, :class =>"form-control", :step => 'any'  %>
      </div>

      <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-3 ">
        <%= f.label :width %>
        <%= f.number_field :width, :class =>"form-control", :step => 'any'  %>
      </div>

      <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-3 ">
        <%= f.label :depth%>
        <%= f.number_field :depth, :class =>"form-control", :step => 'any'  %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :description, :for => "product_description"  %>
      <%= f.text_area :description, :class =>"form-control"  %>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <% if @product.image_url %>
        <%= image_tag @product.image_url(:thumb).to_s %>
        <%= f.check_box :remove_image %> Remove image
      <% end %>
      <%= f.file_field :image, :class =>"form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :remote_image_url %>
      <%= f.text_field :remote_image_url, :class =>"form-control"  %>
    </div>

    <%= f.submit :class =>"btn btn-success"  %>
    <%= link_to 'Back', products_path, :class => "btn btn-danger"%>
  <% end %>
</div>
